<footer class="footer is-black">
  <div class="container">
    <div class="content has-text-centered">
      <h4 class="title is-4">FOLLOW US</h4>
        <ul>
          <li><i class="fab fa-instagram"></i><a href="#"></li>
          <li><a href="#"></a><i class="fab fa-twitter-square"></i></li>
          <li><i class="fab fa-facebook-square"></i><a href="#"></li>
        </ul>
      </div>
      </div>
    </footer>
