<footer class="footer is-black">
  <div class="container">
      <div class="columns is-mobile text-is-centered">
        <div class="column">
      <h4 class="title is-4">FOLLOW US</h4>
        <ul class="social-links text-is-centered">
          <li><i class="fab fa-instagram"></i><a href="#"></li>
          <li><a href="#"></a><i class="fab fa-twitter-square"></i></li>
          <li><i class="fab fa-facebook-square"></i><a href="#"></li>
        </ul>
            </div>
          </div>
        <p class="text-center">Made by Linda Lê</p>
        <div class="field has-addons">
          <div class="control is-expanded">
            <input class="input" type="text" placeholder="Sign up to our newsletter">
          </div>
          <div class="control">
            <a class="button is-info">
              Submit
            </a>
          </div>
        </div>
      </div>
    </footer>
