<footer class="footer is-black">
  <div class="container">
    <div class="content has-text-centered">
      <h4 class="title is-4">FOLLOW US</h4>
        <ul>
          <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="#" ><i class="fa fa-twitter" aria-hidden="true"></i></i></a></li>
        </ul>
      </div>
      </div>
    </footer>
