<nav class="navbar is-fixed is-black aria-label="main navigation"">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/images/logo.png" width="181px" height="79px" alt="Flyer's island logo">
      &nbsp;
      Flyer's Island
    </a>
    <a role="button" class="navbar-burger" data-target="navMenu" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navMenu" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/classes">Classes</a>
      <% if(locals.isAuthenticated) { %>
        <a class="navbar-item" href="/classes/new"> List a new class</a>
        <a class="navbar-item" href="/users/<%= locals.currentUser._id %>">
          <img class="imgNav" src="<%= locals.currentUser.imageSRC %>" />
          <%= locals.currentUser.username %>
        </a>
        <a class="navbar-item" href="/logout">Logout</a>
        <%  } else { %>
        <a class="navbar-item" href="/register">Register</a>
        <a class="navbar-item" href="/login">Login</a>
        <% } %>
    </div>
  </div>
</nav>
