<section class="hero is-medium has-carousel">
  <div class="hero-carousel carousel-animated carousel-animate-fade">
    <div class='carousel-container'>
      <div class='carousel-item has-background is-active'>
        <img class="is-background" src="https://i.imgur.com/mTmOzHJ.jpg" alt="people holding yoga mats" />
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="https://i.imgur.com/RnXZDqO.jpg" alt="Yogi doing yoga by the river" />
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="https://i.imgur.com/zjX7w83.jpg" alt="Man doing Yoga" />
      </div>
      <div class='carousel-item has-background'>
        <img class="is-background" src="https://i.imgur.com/SOI1Mmd.jpg" alt="Woman doing yoga" />
      </div>
    </div>
    <div class="carousel-navigation is-overlay">
      <div class="carousel-nav-left">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </div>
      <div class="carousel-nav-right">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="hero-body has-text-centered">
    <div class="columns is-mobile is-centered">
      <div class="column is-half is-narrow">
        <div class="field has-addons">
          <div class="control is-expanded">
            <input class="input" type="text" placeholder="Sign up to our newsletter">
          </div>
          <div class="control">
            <a class="button is-info">
              Submit
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
