<section class="hero is-large is-mobile has-carousel">
  <div class="carousel" data-flickity='{ "autoPlay": true, "wrapAround": true }'>
    <div class="carousel-cell" id="ourClasses">
      <div class="container is-half has-text-centered homeInfo ">
        <div class="background-black-grunge">

        <h1 class="title has-text-white has-text-centered is-size-1">Our classes</h1>
        <h2 class="subtitle has-text-white has-text-centered is-size-5 secondary-font">Check out all of our aerial classes on this week in London.</h2>
        <a href="/venues/" class="button is-white is-focused">Venues</a>
        </div>
      </div>
    </div>
    <div class="carousel-cell" id="ourReviews">
      <div class="container is-half has-text-centered reviewInfo">
        <div class="background-black-grunge">
        <h1 class="title has-text-white has-text-centered is-size-1">Want to leave a review?</h1>
        <h2 class="subtitle has-text-white has-text-centered is-size-5 secondary-font">Click on any of our classes or venues to leave your thoughts!</h2>
        <a href="/classes/" class="button is-white is-focused">Classes</a>
        </div>
      </div>
    </div>
    <div class="carousel-cell" id="physical">
      <div class="container is-half has-text-centered reviewInfo">
        <div class="background-black-grunge">
          <h1 class="title has-text-white has-text-centered is-size-1">Let's get physical</h1>
          <h2 class="subtitle has-text-white has-text-centered is-size-5 secondary-font">Sign up to any of our classes now</h2>
        </div>
      </div>
    </div>
    <div class="carousel-cell" id="menDoYoga">
      <div class="container is-half has-text-centered reviewInfo">
        <div class="background-black-grunge">
          <h1 class="title has-text-white has-text-centered is-size-1">Men can do it too</h1>
          <h2 class="subtitle has-text-white has-text-centered is-size-5 secondary-font">Men and women are more than welcome to our venues</h2>
        </div>
      </div>
    </div>
  </div>
  <%# <div class="columns">
    <div class="classesOn column is-12">
      Classes
      <a href="#">Join Us</a>
    </div>
  </div>
  <div class="columns">
    <div class="venuesOn column is-half is-offset-one-half">
      Check out our venues
    </div>
  </div>
  <div class="registerWithUs columns">
    <div class="column">
      Register with us today!
    </div>
  </div>
  <div class="columns">
    <div class="blog column">
      Blog

    </div> %>
  </div>
