<section class="hero is-medium has-carousel">
  <div class="carousel" data-flickity='{ "autoPlay": true }'>
    <div class="carousel-cell">
      <img src="https://i.imgur.com/RnXZDqO.jpg" alt="yoga">
      <div class="container has-text-right">
        <h1 class="title has-text-white has-text-centered is-size-1">Our classes</h1>
        <h2 class="subtitle has-text-white has-text-centered is-size-5 secondary-font">Check out all of our aerial gymastics classes on this week in London.</h2>
      </div>
    </div>
    <div class="carousel-cell">
      <img src="https://i.imgur.com/mTmOzHJ.jpg" alt="people about to do yoga">
    </div>
    <div class="carousel-cell">
      <img src="https://i.imgur.com/zkkPazQ.jpg" alt="woman doing yoga">
    </div>
    <div class="carousel-cell">
      <img src="https://i.imgur.com/zjX7w83.jpg" alt="man doing yoga">
    </div>
  </div>
  <div class="hero-body has-text-centered">
    <div class="columns is-mobile is-centered">
      <div class="column is-half is-narrow">
        <div class="field has-addons">
          <div class="control is-expanded">
            <input class="input" type="text" placeholder="Sign up to our newsletter">
          </div>
          <div class="control">
            <a class="button is-info">
              Submit
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
