*{
  box-sizing: border-box;
  color: #7e7d7d;
  font-family:'Montserrat', sans-serif;
}

errorContainer {
  background: url('https://i.redd.it/7bumjq8v4eaz.jpg');
}

.footer{
  display: flex;
  list-style-type: none;

}
page-intro{
  font-family: 'A-Love-of-Thunder';
  font-size: 2.857em;
  letter-spacing: 0.125em;

}

.navbar a:hover{
  transition: 0.5s;
  background-color: white;
  color: black;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19F;
}

.button.is-danger:hover {
  transition: 0.4s;
  background-color: #EB7A96;
}

.columns {
  margin: -35px 0;
  padding: 0;
}

.carousel-cell {
  width: 100%;
  min-height: 760px;
  counter-increment: carousel-cell;
}

.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
