<h1>Login</h1>
<form action="/login" method="POST">
  <div class='input-field'>
    <input type="email" name="email" id="email" required>
    <label for="email_field">Email</label>
  </div>
  <div class='input-field'>
    <input type="password" name="password" id="password" required>
    <label for="password_field">Password</label>
  </div>
  <div>
    <button class="loginButton">Login</button>
  </div>
</form>
</div>
