<h1>One of us... one of us...</h1>
<form class="" action="/register" method="POST">
    <div class='input-field'>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" required>
    </div>
    <div class='input-field'>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required>
    </div>
    <div class='input-field'>
      <label for="profileImg">Profile Picture</label>
      <input type="text" name="profilePicture" id="profilePicture" required>
    </div>
    <div class='input-field'>
      <label for="addressLine1">Address Line 1</label>
      <input type="text" name="addressLine1" id="addressLine1" required>
    </div>
    <div class='input-field'>
      <label for="addressLine2">Address Line 2</label>
      <input type="text" name="addressLine2" id="addressLine2">
    </div>
    <div class='input-field'>
      <label for="postcode">Postcode</label>
      <input type="text" name="postcode" id="postcode" required>
    </div>
    <div class='input-field'>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
    </div>
    <div class='input-field'>
      <label for="passwordConfirmation">Password Confirmation</label>
      <input type="password" name="passwordConfirmation" id="passwordConfirmation" required>
    </div>

    <button class="registerButton">Register</button>
  </form>
</div>
