<div class="container">

  <h2 class= "title is-2">One of us... one of us...</h2>
  <h5 class="subtitle is-5">Register your details</h5>
  <h5 class="subtitle is-5">Required fields are marked <strong>*</strong></h5>
  <form class="" action="/register" method="POST">
      <div class='input-field'>
        <label for="name">Name <strong>*</strong></label>
        <input type="text" name="name" id="name" required minlength="3" required>
      </div>
      <div class='input-field'>
        <label for="email">Email <strong>*</strong></label>
        <input type="email" name="email" id="email" required>
      </div>
      <div class='input-field'>
        <label for="profilePicture">Profile Picture</label>
        <input type="text" name="profilePicture" id="profilePicture" pattern="https?://.+">
      </div>
      <div class='input-field'>
        <label for="addressLine1">Address Line 1</label>
        <input type="text" name="addressLine1" id="addressLine1" required>
      </div>
      <div class='input-field'>
        <label for="addressLine2">Address Line 2</label>
        <input type="text" name="addressLine2" id="addressLine2">
      </div>
      <div class='input-field'>
        <label for="postcode">Postcode</label>
        <input type="text" name="postcode" id="postcode" required>
      </div>
      <div class='input-field'>
        <label for="password">Password <strong>*</strong></label>
        <input type="password" name="password" id="password" required minlength="5">
      </div>
      <div class='input-field'>
        <label for="passwordConfirmation">Password Confirmation<strong>*</strong></label>
        <input type="password" name="passwordConfirmation" id="passwordConfirmation" required minlength="5">
      </div>

      <button class="button is-danger">Register</button>
    </form>
  </div>
</div>
