<main class="container">
  <div class="columns is-multiline">
    <div class="column">
      <div class="profileUserInfo">
        <div class="profilePicture">
        
      </div>
      <div>
      <h3 class="title is-4">User: <%= user.name%></h3>
      <h3 class="title is-4">Email: <%= user.email%></h3>
    </div>
  </div>
</div>
</main>
