<h4><%= user.name %></h4>
       <div class="col m12">
         <a class="btn" href='/users/<%= user._id %>/edit'><i class="material-icons left">edit</i>Edit profile</a>
       </div>
       <div class="col m12">
         <a class="custommargin waves-effect waves-light orange btn" href='/'><i class="material-icons left">home</i>Return to Homepage</a>
       </div>
       <div class="col m12">
         <a class="custommargin waves-effect waves-light purple btn" href='/user/<%= user._id %>/myreviews'><i class="material-icons left">home</i>My Reviews</a>
       </div>
       <div class="col m12">
         <form action="/users/<%= user.id %>" method="post">
           <input type="hidden" name="_method" value="DELETE">
           <button class="custommargin waves-effect waves-light red btn"><i class="material-icons left">delete</i>Delete Profile</button>
         </form>
