<h1>Submit a new class</h1>
<form class="" action="/class" method="POST">
    <div class='input-field'>
      <label for="className">Name</label>
      <input type="text" name="className" id="className" required>
    </div>
  <div class='input-field'>
    <label for="img">Picture URL</label>
    <input type="text" name="img" id="img" required>
  </div>
  <div class='input-field'>
    <label for="address1">Address Line 1</label>
    <input type="text" name="address1" id="address1">
  </div>
  <div class='input-field'>
    <label for="address2">Address Line 2</label>
    <input type="text" name="address2" id="address2">
  </div>
  <div class='input-field'>
    <label for="postcode">Postcode</label>
    <input type="text" name="postcode" id="postcode">
  </div>
  <div class="input-field">
      <select  name="discipline" id="discipline">
        <option value="" disabled selected>Please choose one of the options</option>
        <option value="aerialSilks">Aerial Silks</option>
        <option value="aerialHoop">Aerial Hoop</option>
        <option value="aerialStraps">Aerial Straps</option>
        <option value="staticTrapeze">Static Trapeze</option>
        <option value="aerialSlings">Aerial Slings</option>
        <option value="chinesePole">Chinese Pole</option>
      </select>
      <label>Discipline</label>
    </div>
  <button class="register">Register</button>
  </form>
</div>
