<main>
  <h1 class="title is-1">Add a new class</h1>
  <h5 class="subtitle">Required fields are marked <strong>*</strong></h5>
  <form action="/classes" method="POST">
      <div class='field'>
        <label for="name"> Class Name<strong>*</strong></label>
        <div class="control">
          <input type="text" name="name" id="name" minlength="3" required>
        </div>
      </div>
      <div class='field'>
        <label for="time"> Time<strong>*</strong></label>
        <div class="control">
          <input type="text" name="time" id="time" required>
        </div>
      </div>
    <div class='field'>
      <label for="image">Image<strong>*</strong></label>
      <div class="control">
        <input type="text" name="image" id="image" required>
      </div>
    </div>
    <div class="field has-addons">
      <label for="price">Price<strong>*</strong></label>
      <div class="control">
        <input type="text" name="price" id="price" required>
      </div>
    </div>
    <div class='field'>
      <label for="venue">Venue<strong>*</strong></label>
      <div class="control">
        <input type="text" name="venue" id="venue" required>
      </div>
    </div>
    <div class='field'>
      <label for="instructor">Instructor<strong>*</strong></label>
      <div class="control">
        <input type="text" name="instructor" id="instructor" required>
      </div>
    </div>
    <div class="field">
      <label>Discipline</label>
        <select  name="discipline" id="discipline">
          <option value="" disabled selected>Please choose one of the options</option>
          <option value="aerialSilks">Aerial Silks</option>
          <option value="aerialHoop">Aerial Hoop</option>
          <option value="aerialStraps">Aerial Straps</option>
          <option value="staticTrapeze">Static Trapeze</option>
          <option value="aerialSlings">Aerial Slings</option>
          <option value="chinesePole">Chinese Pole</option>
        </select>
      </div>
      <div class="field">
        <label class="label">Description<strong>*</strong></label>
        <div class="control">
          <textarea class="textarea" name="description" placeholder="Description"></textarea>
        </div>
      </div>
      <div class="control">
        <button class="button is-primary">Submit</button>
      </div>
    </form>
  </div>
</main>
